<!doctype html>
<title> Grass Bridges </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<section class="data">
  <header> Bridge Data </header>
  {% if results %}
    <img src="{{ url_for('static', filename=results.img) }}">
  {% endif %}
</section>
<section class="query">
  <form method="post">
    <select name="regions" id="regions-select">
    {% for name, layername in regions.items() %}
      <option value="{{ layername }}">{{ name }}</option>
    {% endfor %}
    </select>
    <select name="analysys" id="analysys-select">
    {% for name, command in commands.items() %}
      <option value="{{ command }}">{{ name }}</option>
    {% endfor %}
    </select>
    <select name="column" id="column-select">
    {% for name, col in columns.items() %}
      <option value="{{ col }}">{{ name }}</option>
    {% endfor %}
    </select>
    <select name="method" id="method-select">
    {% for method in methods %}
      <option value="{{ method }}">{{ method }}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Run">
  </form>
</section>
